html, body{
    background-color: #0a1f2a;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.content{
    margin: 20px;
}

.contacts{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.contacts_btn{
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 50%;
}

.contacts_btn_tap{
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 50%;
}

a{
    color: white;
    text-decoration: none;
}

.card, .card-header{
    background-color: transparent;
    color: white;
    border: 1px solid #6c757d;
}

.portf{

}


.btn_red_l{
    background-color: transparent;
    color:white;
    border: 3px solid #B22222;
}

.btn_red_l:hover{
    background-color: #B22222;
    color:white;
}

.btn_taplink_link{
    background-color: transparent;
    color:white;
    border: 3px solid #1E90FF;
}

.btn_taplink_link:hover{
    background-color: #1E90FF;
    color:white;
}

.btn-primary{
    background-color: transparent;
    color:white;
    border: 3px solid #0d6efd;
}

.btn-success{
    background-color: transparent;
    color:white;
    border: 3px solid #198754;
}